extends layout

block content
	.jumbotron
		.container
			h1 How May I Help Yoy?
			p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.
			a.btn.btn-primary.btn.lg(href='#') Learn more &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, 
				e vem sendo utilizado desde o século XVI
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Service
				p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, 
				e vem sendo utilizado desde o século XVI
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 About Us
				p Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, 
				e vem sendo utilizado desde o século XVI
				a.btn.btn-default(href='#') View Details
